page {
    background-color: rgb(125, 125, 209);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    .login_box {
        margin-top: -150px;
        .avatar {
            margin-bottom: 50px;
        }
        .login_btn {
            border-radius: 15px;
        }
    }

    .text {
        position: absolute;
        bottom: 80px;
        color: #fff;
        font-size: 36px;
    }
   
}
