page{
    // justify-content: start;
    align-items: flex-start;
    .pay_form {
        width: 100%;
        // margin-top: -250px;
        .my_input {
            border: 2px solid rgb(232, 232, 232);
            margin-left: 0;
            padding-left: 32px;
        }
        .my_btn {
            margin-top: 20px;
        }
    }
}
