.course_box {
    width: 100%;
    margin-top: -250px;
    .my_picker {
        margin-bottom: 20px;
        // border: 1px solid black;
    }
    .my_input {
        // border: 2px solid rgb(232, 232, 232);    
        margin-left: 0;
        padding-left: 32px;
        text-align: right;
        input {
            padding-right: 60px;
        }
    }
    .my_btn {
        margin-top: 20px;
    }
    .my_qrcode {
        border: 1px solid rgb(216, 216, 216);
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
        margin-top: -150px;
    }
    .at-curtain__btn-close {
        width: 80px;
        height: 80px;
        bottom: -110px;
        margin-left: -40px;
    }
}